
<h1> Create Your Profile </h1>

  <%= simple_form_for(@user) do |f| %>
    <%= f.input :description %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :height %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: "btn-theme" %>
  <% end %>
