<div class="container">

  <div class="m-3 row justify-content-center">
    <% if current_user %>
    <p> <%= link_to "Back", profile_path(current_user), class: "btn rounded-pill border" %> </p>
    <% end %>

    <p> <%= link_to "Start Dating Now!", events_path, class: "btn rounded-pill border" %> </p>
  </div>

  <div class="row justify-content-center">
    <h1><strong> Find your Match </strong></h1>
  </div>

  <div class="row justify-content-center">

    <% @users.each do |user| %>
      <div class="col-sm-3 m-2">
        <div class="card-trip">
          <% if user.photos.attached? %>
            <% user.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 150 , width: 150, :crop=>"fill", :radius => 0 %>
            <% end %>
          <% end %>

          <div class="card-trip-infos">
            <div>
              <p> <%= link_to user.name, profile_path(user) %> </p>
              <p> <%= user.age %> </p>
              <p> <%= user.gender %> </p>
              <p> <%= user.height %> </p>
              <p> <%= user.address %> </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

