
<h1> User show page </h1>





 <% if @user.photos.attached? %>
    <% @user.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300 , width: 200, :crop=>"fill", :radius => 20 %>
    <% end %>
  <% end %>

  <h3> <%= @user.name %> | <%= link_to "⚡️" %></h3>
  <p> <%= @user.description %> </p>
  <p> Age: <%= @user.age %> </p>
  <p> Gender: <%= @user.gender %> </p>
  <p> Height: <%= @user.height %> </p>
  <p> Location: <%= @user.address %> </p>

<h4> Sport </h4>

<% @user.interests.each do |interest| %>
  <% if interest.category == "sport" %>
  <%= interest.name  %>
  <%# raise %>
  <% end %>
<% end %>

<h4> Industry </h4>

<% @user.interests.each do |interest| %>
  <% if interest.category == "industry" %>
  <%= interest.name %>
  <%# raise %>
  <% end %>
<% end %>

