<div class="d-flex justify-content-center">
  <div class="col-sm-6">

    <div class="row justify-content-center mt-3">
      <div class="col-sm-10 mt-3 text-right ml-4">
        <span> <%= link_to "Browse Profiles", profiles_path, class: "btn-red" %> </span>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-sm-10 p-0">
        <% if @user.photos.attached? %>
        <%= cl_image_tag @user.photos.second.key, height: 200 , width: 590, class: "profile-banner" %>
        <% end %>
      </div>

      <div class="col-sm-10" style="position:absolute;">
        <% if @user.photos.attached? %>
        <%= cl_image_tag @user.photos.first.key, :gravity=>"face", :crop=>"fill", class: "avatar" %>
        <% end %>
      </div>

      <div class="col-sm-10 std-card-once d-flex justify-content-center pb-3">
        <div class="col-sm-3 align-self-end pb-4">
          <% if current_user == @user%>

          <% else%>
            <h4 class="mt-3 ml-2"> </h4>
            <span class="js-heart" data-user-id="<%= @user.id %>">
              <% if current_user.likes?(@user)%>
              <div class="mt-3">
                <span id="heart_btn", class="btn-secondary_you">
                  <i class="fa fa-heart" aria-hidden="true"></i> Liked! </span>
              </div>
              <% else%>
              <div class="mt-3 ml-2">
                <%= link_to  profile_likes_path(@user.id), id: "heart_btn", class: "btn-red", method: :post, remote: true do %>
                  <i class="fa fa-heart" aria-hidden="true"></i> Like
                <% end %>
              </div>
              <% end %>
          <% end %>
        </div>

        <div class="col-sm-9">
          <div class="row justify-content-between mt-2 mb-1 p-2 pl-3">
            <h4> Hey! I'm <%= @user.name %>... </h4>
            <% if current_user == @user %>
            <%= link_to "", edit_user_registration_path, class: "far fa-edit m-2" %>
            <% end %>
          </div>
          <div class="row mr-4 justify-content-between">
            <p class="pl-3 grey-sub"> <i class="fas fa-briefcase" style="color: #F44235"></i> <%= @user.job_title %> </p>
            <p class="pl-3 grey-sub"> <i class="fas fa-envelope-open-text" style="color: #F44235"></i> <%= @user.description %> </p>
          </div>
          <div class="row justify-content-between">
            <div class="col-sm-6 grey-sub">
              <p> <i class="fas fa-birthday-cake pr-1" style="color: #F44235"></i> <%= @user.age %> </p>
              <p> <i class="fas fa-university pr-1" style="color: #F44235"></i> <%= @user.education %> </p>
              <p> <i class="fas fa-transgender-alt pr-1" style="color: #F44235"></i> <%= @user.sexual_orientation %> </p>
            </div>
            <div class="col-sm-6 grey-sub">
              <p> <i class="fas fa-venus-mars pr-1" style=" color: #F44235"></i> <%= @user.gender.capitalize %> </p>
              <p> <i class="fas fa-heading pr-1" style="color: #F44235"></i> <%= @user.height %> </p>
              <p class="grey-sub"> Open to: <%= @user.open_to %> </p>
            </div>
            <p class="grey-sub"> <i class="fas fa-map-marker-alt pr-1 pl-3" style="color: #F44235"></i> <%= @user.address %> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
    </div>

    <div class="row justify-content-center mt-2 mb-4">
      <div class="col-sm-10 std-card">
        <div class="row p-2 ml-2 justify-content-between">
          <h3> Interests </h3>
          <% if current_user == @user %>
          <%= link_to "", new_user_interests_path, class: "far fa-edit mr-3 mt-2" %>
          <% end %>
        </div>

        <% if !@user.interests_category("business").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-user-tie" style="color: #167FFB"></i> | Business </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("business").each do |interest| %>
            <p class="profile-interest"><%= interest.name %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("entertainment").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-gamepad" style="color: #167FFB"></i> | Entertainment </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("entertainment").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("fashion").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-vest" style="color: #167FFB"></i> | Fashion </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("fashion").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("fitness").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-running" style="color: #167FFB"></i> | Fitness </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("fitness").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("food").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-utensils" style="color: #167FFB"></i> | Food </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("food").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("hobbies").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-water" style="color: #167FFB"></i> | Hobbies </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("hobbies").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
            <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("movies").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-photo-video" style="color: #167FFB"></i> | Movies </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("movies").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
            <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("music").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-music" style="color: #167FFB"></i> | Music </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("music").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

        <% if !@user.interests_category("outdoors").empty? %>
        <div class="p-2">
          <h5 class="interest_title ml-2"> <i class="fas fa-skiing-nordic" style="color: #167FFB"></i> | Outdoors </h5>
          <div class="d-flex flex-wrap">
            <% @user.interests_category("outdoors").each do |interest| %>
            <p class="profile-interest"><%= interest.name  %></p>
          <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>












