<h2> My Bookings </h2>

<p><%= link_to "Back", events_path, class: "btn rounded-pill border" %> </p><s>
<p><%= link_to "Back to Calendar", events_path, class: "btn rounded-pill border" %></p>

<table>
  <thead>
    <tr>
   <th>Event</th>
    <th>Start Date </th>
    <th>End Date </th>
    <th>Remove </th>
    </tr>
  </thead>
  <tbody>
     <% num = 0 %>
     <% @my_bookings.each do |booking|%>

   <tr>
    <td><%= num += 1%></td>
    <td><%= booking.event.start_time %></td>
    <td><%= booking.event.end_time %>></td>
    <td><%= link_to "DELETE", booking_path(booking), method: :delete, class: "btn rounded-pill border", data: { confirm: "Are you sure you want to delete this?" }%></td>
   </tr>
   <% end %>
  </tbody>
</table>
