<h6>My Booked Date Session<h6>

<% num = 0 %>
<% @my_bookings.each do |booking|%>
    <p>Event <%= num += 1%></p>
    <p> Start time :<%= booking.event.start_time %></p>
    <p>End time :<%= booking.event.end_time %></p>
    <%= link_to "DELETE", booking_path(booking), method: :delete, class: "btn btn-primary", data: { confirm: "Are you sure you want to delete this?" }%>
    <%= link_to "Back to Calendar", events_path, class: "btn btn-primary" %>
    <p>

<% end %>
