<div class="d-flex justify-content-center">
  <div class="col-sm-6 std-card">
    <p> <%= link_to "Back", events_path, class: "btn-red" %> </p>
    <%= simple_form_for([@event, @booking]) do |f| %>
    <h3> Book a Session </h3>
    <p>Start Time: <%= @event.start_time %></p>
    <p>End Time: <%= @event.end_time %></p>
    <%= f.submit "Book now", class: "btn-red", data: { confirm: "Are you sure you want to book?" } %>
    <% end %>
  </div>
</div>
