<!-- Load an icon library -->

<div id="mySidenav" class="sidenav">

  <%# if current_user.photos.attached? %>
    <%#= cl_image_tag current_user.photos.first.key, :gravity=>"face", :height=>50, :width=>50, :zoom=>0.7, radius: '', :crop=>"thumb", class: "avatar", id: "image" %>
  <%# end %>

  <% if !user_signed_in? %>
  <%= link_to "Login", new_user_session_path, id: "user_login" %>
  <% end %>


  <% if user_signed_in? %>
    <%= link_to "Home", root_path, id: "home" %>
    <%= link_to "My Profile", profile_path(current_user), id: "profile" %>
    <%= link_to "My Sessions", bookings_path, id: "bookings" %>
  <% end %>

  <% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, id: "user_logout" %>
  <% end %>

</div>

