<h2> Sessions: </h2>

<%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div class="meeting">
      <p><%= event.name %></p>
      <p class="text-muted"> <%= event.time %> </p>
      <p> <%= link_to "Book",  user_event_bookings_path %> </p>
    </div>
  <% end %>
<% end %>
