<div class="d-flex justify-content-center">

  <div class="col-sm-10 mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-5 text-left">
        <p class="icon-red"> <%= link_to "", profiles_path, class: "fas fa-chevron-circle-left" %> </p>
      </div>
       <div class="col-sm-5 mt-3 text-right">
        <p> <%= link_to "My-Sessions", bookings_path, class: "btn-red" %> </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10">
        <%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
        <%= date %>

        <% events.each do |event| %>
        <div class="meeting">
          <% if (current_user.events).include?(event) %>
          <p><%= link_to event.name, event_path(event) %></p>
          <% end %>
          <small class=""> <%= event.time %> </small>
          <% if event.bookings.count < event.capacity %>
          <small> <%= link_to "Book!", new_event_booking_path(event) %> </small>
          <% end %>
          <small> Spots: <%= event.bookings.count %>/<%= event.capacity %> </small>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
