<div class="row justify-content-center d-flex">

  <div class="col-sm">

      <div class="row justify-content-left mt-4">
        <div class="col-sm-6">
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
          <% if @my_matches.exists? %>
            <div class="row justify-content-center">
              <h1 class="h1-home"> Lobby </h1>
            </div>
            <div class="row justify-content-center text-white">
              <h2 class="h2-home"> Matches for this <%= @event.name %> </h2>
            </div>
          <% else %>
            <div class="row justify-content-center">
              <h1 class="h1-home"> Lobby </h1>
            </div>
            <div class="row justify-content-center text-white">
              <h2 class="h2-home"> <%= link_to "Your matches are nearly ready!", :back %> </h2>
            </div>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <% @event.my_matches(current_user).each do |match| %>
        <div class="">
          <% match.user_matches.each do | user_match | %>
          <% if user_match.user_id != current_user.id %>
            <div class="uicard m-3">
              <div class="fon">
                <% if user_match.user.photos.attached? %>
                <%= cl_image_tag user_match.user.photos.second.key, crop: "fill", class: "" %>
                <% end %>
              </div>

              <div class="user">
                <% if user_match.user.photos.attached? %>
                <%= cl_image_tag user_match.user.photos.first.key, crop: "fill", class: "" %>
                <% end %>
                <p> <i class="fas fa-user-circle"></i> <%= user_match.user.name %> </p>
              </div>

            <div class="d-flex socialinfo justify-content-center text-center">

              <div class="socialtext1">
                <p> <%= user_match.user.age %> </p>
                <p><i class="fas fa-birthday-cake"></i></p>
              </div>

              <div class="socialtext2">
                <p><%= user_match.user.address %></p>
                <p><i class="fas fa-map-marker-alt"></i></p>
              </div>

              <div class="socialtext3">
                <p> <%= rand(18..38) %> </p>
                <p>dates</p>
              </div>
            </div>

          </div>
          <% end %>



          <% end %>
        </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center text-center mt-4 mb-4">
        <div>
          <% if @my_matches.exists? %>
            <%# if DateTime.now == @event.start_time - 300.seconds %>
            <h1> <%= link_to "BEGIN SESSION", match_path(@my_matches.first), class: "btn-red" %> </h1>
            <%# end %>
          <% end %>
        </div>
      </div>



  </div>
</div>




