<h4> "Lobby" </h4>
<h4> Matches for this <%= @event.name %> </h4>

<%# if (@event.bookings).include?(current_user) %>
<%# raise %>
  <% @event.users.each do |user| %>
  <p> <strong> <%= user.name %> </strong> </p>

<div class="row pb-3">

  <div class="col-sm-4">
    <p> Match#: <%= user.user_matches[0].match.id %> </p>
    <% if current_user.user_matches[0].match.id == user.user_matches[0].match.id %>
      <%= link_to "Start Session", match_path(user.user_matches[0].match), class: "btn rounded-pill border" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p> Match#: <%= user.user_matches[1].match.id %> </p>
    <% if current_user.user_matches[1].match.id == user.user_matches[1].match.id %>
      <%= link_to "Start Session", match_path(user.user_matches[1].match), class: "btn rounded-pill border" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p> Match#: <%= user.user_matches[2].match.id %> </p>
    <% if current_user.user_matches[2].match.id == user.user_matches[2].match.id %>
      <%= link_to "Start Session", match_path(user.user_matches[2].match), class: "btn rounded-pill border" %>
    <% end %>
  </div>

</div>

  <% end %>
<%# end %>


<p> <%= link_to "back", events_path, class: "btn rounded-pill border" %> </p>
