<<<<<<< HEAD

<h1 id="interests-header">So this is my Interest page</h1>
<div class="container">
  <div class="row justify-content-center card">

    <div class="col-md-6 col-sm-3 m-5 ">
      
       
      <select id="fitness-welness" multiple="multiple">
        <option value="" ></option>
      </select>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center card">

    <div class="col-md-6 col-sm-3 m-5 ">
      
       
      <select id="fitness-welness" multiple="multiple">
        <option value="" ></option>
      </select>
    </div>

    </div>
  </div>
</div>


  <!-- Force next columns to break to new line -->
  <div class="w-100"></div>

 

=======
>>>>>>> 4768ff8dce2e022cff1f44a5b3023b45d8125e2f

<h1> Your Interests </h1>

<<<<<<< HEAD
=======
  <%= simple_form_for [@user, @interest] do |f| %>
    <%= f.input :business_industry %>
    <%= f.input :entertainment, placeholder: '' %>
    <%= f.input :family_relation, placeholder: '' %>
    <%= f.input :fitness_wellness, placeholder: '' %>
    <%= f.input :food_drink, placeholder: '' %>
    <%= f.input :hobby_activity, placeholder: '' %>
    <%= f.input :shopping_fashion %>
    <%= f.input :sport_outdoor %>
    <%= f.input :technology %>
    <%= f.submit :Submit, class: "" %>
  <% end %>
>>>>>>> 4768ff8dce2e022cff1f44a5b3023b45d8125e2f
