
  <% unless params[:mutual] %>
    <div class="video-screen">
      <div id="black-background">
        <p class="pl-2 pt-2"><%= @other_user_match.user.name %></p>
        <div id="videos"
          data-controller="vonage"
          data-vonage-api-key="<%= ENV['VONAGE_API_KEY'] %>"
          data-vonage-session-id="<%= @match.vonage_session_id %>"
          data-vonage-token="<%= @token %>"
          data-vonage-name="<%= current_user.name %>"
          data-vonage-role="<%= current_user.age %>"
          >
        </div>
      </div>
    </div>
  <% end %>

