<div class="mt-4">
    <% unless params[:mutual] %>
      <div class="d-flex justify-content-around mt-4 text-white">
        <div class="col-sm-3">
          <% if @other_user_match.user.photos.attached? %>
          <%= cl_image_tag @other_user_match.user.photos.first.key, radius: "max", :crop=>"fill", class: "video-avatar" %>
          <% end %>
        </div>
        <div class="col-sm-3">
          <h3> <%= @other_user_match.user.name %> </h3>
          <p> Age: <%= @other_user_match.user.age %> </p>
        </div>
        <div class="col-sm-3">
          <p> Gender: <%= @other_user_match.user.gender %> </p>
          <p> Preference: Straight </p>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <div class="col-sm-4 align-self-center match-item mt-4">
          <h3 class="h2-home"> YOUR MATCH IS READY! </h3>
        </div>
        <div class="col-sm-4 align-self-center match-item">
          <% if current_user.update_match?(@user_match) %>
            <h5> Awaiting Match Confirmation </h5>
          <% elsif @user_match.status == "pending" %>
            <h1> <%= link_to "MATCH â¤", user_match_path(@user_match.id, user_match: { status: 'accept' }), class: "", method: :patch %> </h1>
          <% end %>
        </div>
        <div class="col-sm-4 align-self-center">
          <%= render 'matches/clock' %>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-sm-12">
          <div class="video-screen">
            <div id="black-background">
              <div class="col-12 col-lg-9">
              <p><%= current_user.name %></p>
                <div id="videos"
                  data-controller="vonage"
                  data-vonage-api-key="<%= ENV['VONAGE_API_KEY'] %>"
                  data-vonage-session-id="<%= @match.vonage_session_id %>"
                  data-vonage-token="<%= @token %>"
                  data-vonage-name="<%= current_user.name %>"
                  data-vonage-role="<%= current_user.age %>"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
