<h1> Matched Chat Room </h1>

<div id="messages" data-match-id="<%= @match.id %>">
  <% @match.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @match, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Type a message.." %>
<% end %>

<p> <%= link_to "back", events_path %> </p>



<% @my_matches.each do |my_match| %>
  <%# raise %>
  <p> <%= link_to "next date", match_path(my_match) %> </p>
<% end %>
