<div class="container">
  <%= render 'matches/clock' %>
  <h1> Matched Chat Room </h1>

  <div class="">
    <div id="messages" data-match-id="<%= @match.id %>">
      <% @match.messages.each do |message| %>
        <div class="message-container" id="message-<%= message.id %>">
          <i class="author">
            <span><%= message.user.name %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p class="speech-bubble" ><%= message.content %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="">
    <%= simple_form_for [ @match, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type a message.." %>
    <% end %>
  </div>

  <div class="row p-3">
    <p> <%= link_to "back", events_path, class: "btn rounded-pill border" %> </p>
  </div>

</div>

