<div class="container">
  <div class="row justify-content-center">
    <%= render 'matches/clock' %>
  </div>

  <div class="row justify-content-center">
    <div id="black-background">
      <div class="col-12 col-lg-9">
      <p><%= current_user.name %></p>
        <div id="videos"
          data-controller="vonage"
          data-vonage-api-key="<%= ENV['VONAGE_API_KEY'] %>"
          data-vonage-session-id="<%= @match.vonage_session_id %>"
          data-vonage-token="<%= @token %>"
          data-vonage-name="<%= current_user.name %>"
          data-vonage-role="<%= current_user.age %>"
          >
          <%#= link_to edit_lesson_path(@lesson) do %>
          <i class="fas fa-phone-slash" id="phone-btn"></i>
          <%# end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
     <% if @user_match.status == "pending" %>
          <%= simple_form_for [@user_match] do |f| %>
          <%= f.input :status, as: :hidden, :input_html => { :value => "accept" } %>
          <%= button_tag do %>
          <p> MATCH! </p>
          <% end %>
        <% end %>
      <% elsif @user_match.status == "accept" %>
        <p> Awaiting Match Confirmation </p>
      <% end %>
  </div>

  <div class="">
    <div class="row justify-content-center p-3">
      <h1> Matched Chat Room </h1>
    </div>

    <div id="messages" data-match-id="<%= @match.id %>">
      <% @match.messages.each do |message| %>
        <div class="message-container" id="message-<%= message.id %>">
          <i class="author">
            <span><%= message.user.name %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p class="speech-bubble" ><%= message.content %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="">
    <%= simple_form_for [ @match, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type a message.." %>
    <% end %>
  </div>

  <div class="row p-3">
    <p> <%= link_to "back", events_path, class: "btn rounded-pill border" %> </p>
  </div>

</div>

