<!DOCTYPE html>
<html>
  <head>
    <title>Circuit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- This are links to be able to use jquery turbolinks  not added by me -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- select2 cdn and link to make the dropdown for interests work. Matthaios-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
   
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
      
      <!-- Here I create the options for each of our main interests
      I am putting in an array the options which I then call in later on. Matthaios-->
     <script> 
      $(document).ready(function() {
        var fitnessWellness = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];
        // Here I am calling the options of my arrays for each dropdown. Matthaios
        $("#fitness-welness").select2({
          data:fitnessWellness
        });
        $("#fitness-welness").select2({
          placeholder: "exmp.Footbal,tennis.."
        });
        //Here I create options for businness-industry in an array
         var businessIndustry = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];
        // Here I am calling the options of my array in a dropdown
          $("#business-industry").select2({
          data:businessIndustry
        });
        $("#business-industry").select2({
          placeholder: "exmp.Footbal,tennis.."
        });
      
        var entertainment = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];
        
         $("#entertainment").select2({
          data:entertainment
        });
        $("#entertainment").select2({
          placeholder: "exmp.Footbal,tennis.."
        });
 
        var familyRelation = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

          $("#family-relation").select2({
          data:familyRelation
        });
        $("#family-relation").select2({
          placeholder: "exmp.Footbal,tennis.."
        });

        var foodDrink = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

           $("#food-drink").select2({
          data:foodDrink
        });
        $("#food-drink").select2({
          placeholder: "exmp.Footbal,tennis.."
        });

        var hobbyActivity = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

           $("#hobby-activity").select2({
          data:hobbyActivity
        });
        $("#hobby-activity").select2({
          placeholder: "exmp.Footbal,tennis.."
        });

        var shoppingFashion = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

         $("#shopping-fashion").select2({
          data:shoppingFashion
        });
        $("#shopping-fashion").select2({
          placeholder: "exmp.Footbal,tennis.."
        });  

        var sportOutdoor = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

        $("#sport-outdoor").select2({
          data:sportOutdoor
        });
        $("#sport-outdoor").select2({
          placeholder: "exmp.Footbal,tennis.."
        });    

        var technology = 
          [
            "Football", "Basketball", "Handball", "Tennis", "Fencing"
          ];

        $("#technology").select2({
          data:technology
        });
        $("#technology").select2({
          placeholder: "exmp.Footbal,tennis.."
        });    

      });
    </script>
  </body>
</html>
